<h1>Listing shots</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Identifier</th>
      <th>Club_id</th>
      <th>Round_hole_id</th>
      <th>Startlat</th>
      <th>Startlon</th>
      <th>Endlat</th>
      <th>Endlon</th>
      <th>Score</th>
      <th>Lie</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @shots.each do |shot| %>
      <tr>
        <td><%= shot.id %></td>
        <td><%= shot.identifier %></td>
        <td><%= shot.club_id %></td>
        <td><%= shot.round_hole_id %></td>
        <td><%= shot.startLat %></td>
        <td><%= shot.startLon %></td>
        <td><%= shot.endLat %></td>
        <td><%= shot.endLon %></td>
        <td><%= shot.score %></td>
        <td><%= shot.lie %></td>
        <td><%= shot.time %></td>
        <td><%= link_to 'Show', shot %></td>
        <td><%= link_to 'Edit', edit_shot_path(shot) %></td>
        <td><%= link_to 'Destroy', shot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shot', new_shot_path %>
