<div class="container">
<h1>Listing round_holes</h1>

<table class="table table-hover table-responsive table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Identifier</th>
      <th>Round_id</th>
      <th>Hole_id</th>
    </tr>
  </thead>

  <tbody>
    <% @round_holes.each do |round_hole| %>
      <tr>
        <td><%= round_hole.id %></td>
        <td><%= round_hole.identifier %></td>
        <td><%= round_hole.round_id %></td>
        <td><%= round_hole.hole_id %></td>
        <td><%= link_to 'Show', round_hole %></td>
        <td><%= link_to 'Edit', edit_round_hole_path(round_hole) %></td>
        <td><%= link_to 'Destroy', round_hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round hole', new_round_hole_path, :class=>"btn btn-primary" %>
<%= link_to '.CSV', round_holes_path(format: "csv") , :class=>"btn btn-primary" %>

<h2>Import Round Holes</h2>
<%= form_tag import_round_holes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>