<div class="container">
<h1>Listing holes</h1>

<table class="table table-hover table-responsive table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Identifier</th>
      <th>Facility_id</th>
      <th>Number</th>
      <th>Par</th>
      <th>Handicap</th>
    </tr>
  </thead>

  <tbody>
    <% @holes.each do |hole| %>
      <tr>
        <td><%= hole.id %></td>
        <td><%= hole.identifier %></td>
        <td><%= hole.facility_id %></td>
        <td><%= hole.number %></td>
        <td><%= hole.par %></td>
        <td><%= hole.handicap %></td>
        <td><%= link_to 'Show', hole %></td>
        <td><%= link_to 'Edit', edit_hole_path(hole) %></td>
        <td><%= link_to 'Destroy', hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hole', new_hole_path, :class=>"btn btn-primary" %>
<%= link_to '.CSV', holes_path(format: "csv") , :class=>"btn btn-primary" %>

<h2>Import Holes</h2>
<%= form_tag import_holes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>