<h1>Listing holes</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Identifier</th>
      <th>Facility_id</th>
      <th>Number</th>
      <th>Par</th>
      <th>Handicap</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @holes.each do |hole| %>
      <tr>
        <td><%= hole.id %></td>
        <td><%= hole.identifier %></td>
        <td><%= hole.facility_id %></td>
        <td><%= hole.number %></td>
        <td><%= hole.par %></td>
        <td><%= hole.handicap %></td>
        <td><%= link_to 'Show', hole %></td>
        <td><%= link_to 'Edit', edit_hole_path(hole) %></td>
        <td><%= link_to 'Destroy', hole, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hole', new_hole_path %>
