<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @hole.id %>
</p>

<p>
  <strong>Course ID:</strong>
  <%= @hole.course_id %>
</p>

<p>
  <strong>Number:</strong>
  <%= @hole.number %>
</p>

<p>
  <strong>Par:</strong>
  <%= @hole.par %>
</p>

<p>
  <strong>Handicap:</strong>
  <%= @hole.handicap %>
</p>

<%= link_to 'Edit', edit_hole_path(@hole) %> |
<%= link_to 'Back', holes_path %>
