<div class="container">
<h1>All Rounds</h1>

<table class="table table-hover table-responsive table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Tee ID</th>
      <th>Player ID</th>
      <th>Course ID</th>
      <th>Start Hole</th>
      <th>End Hole</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.id %></td>
        <td><%= round.tee_id %></td>
        <td><%= round.player_id %></td>
        <td><%= round.course_id %></td>
        <td><%= round.startHole %></td>
        <td><%= round.endHole %></td>
        <td><%= round.score %></td>
        <td><%= link_to 'Show', round %></td>
        <td><%= link_to 'Edit', edit_round_path(round) %></td>
        <td><%= link_to 'Destroy', round, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Round', new_round_path, :class=>"btn btn-primary" %>
<%= link_to '.CSV', rounds_path(format: "csv") , :class=>"btn btn-primary" %>

<h2>Import Rounds</h2>
<%= form_tag import_rounds_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>