<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @round.identifier %>
</p>

<p>
  <strong>Tee_id:</strong>
  <%= @round.tee_id %>
</p>

<p>
  <strong>Player_id:</strong>
  <%= @round.player_id %>
</p>

<p>
  <strong>Course_id:</strong>
  <%= @round.course_id %>
</p>

<p>
  <strong>Starthole:</strong>
  <%= @round.startHole %>
</p>

<p>
  <strong>Endhole:</strong>
  <%= @round.endHole %>
</p>

<p>
  <strong>Score:</strong>
  <%= @round.score %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
