<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @round.id %>
</p>

<p>
  <strong>Tee ID:</strong>
  <%= @round.tee_id %>
</p>

<p>
  <strong>Player ID:</strong>
  <%= @round.player_id %>
</p>

<p>
  <strong>Course ID:</strong>
  <%= @round.course_id %>
</p>

<p>
  <strong>Start Hole:</strong>
  <%= @round.startHole %>
</p>

<p>
  <strong>End Hole:</strong>
  <%= @round.endHole %>
</p>

<p>
  <strong>Score:</strong>
  <%= @round.score %>
</p>

<%= link_to 'Edit', edit_round_path(@round) %> |
<%= link_to 'Back', rounds_path %>
