<div class="container">
<h1>Listing facilities</h1>

<table class="table table-hover table-responsive table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Identifier</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.id %></td>
        <td><%= facility.identifier %></td>
        <td><%= facility.name %></td>
        <td><%= link_to 'Show', facility %></td>
        <td><%= link_to 'Edit', edit_facility_path(facility) %></td>
        <td><%= link_to 'Destroy', facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facility', new_facility_path, :class=>"btn btn-primary"  %>
<%= link_to '.CSV', facilities_path(format: "csv") , :class=>"btn btn-primary" %>

<h2>Import Facilities</h2>
<%= form_tag import_facilities_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>