<div class="container">
<h1>All Players</h1>

<table class="table table-hover table-responsive table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Handicap</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.firstName %></td>
        <td><%= player.lastName %></td>
        <td><%= player.handicap %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path, :class=>"btn btn-primary" %>
<%= link_to '.CSV', players_path(format: "csv") , :class=>"btn btn-primary" %>

<h2>Import Players</h2>
<%= form_tag import_players_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
</div>