<p id="notice"><%= notice %></p>

<p>
  <strong>Identifier:</strong>
  <%= @player.identifier %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @player.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @player.lastName %>
</p>

<p>
  <strong>Handicap:</strong>
  <%= @player.handicap %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
